<div class="container">


    <div class="row">
        <!-- Uneaten Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span> {{this.id}} - {{this.burger_name}} </span>
                        <button type="button" class="devour btn btn-warning" data-id="{{this.id}}"
                            data-devoured="{{this.devoured}}">Devour</button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span> {{this.id}} - {{this.burger_name}} </span>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 d-flex content-center">
            <div class="center-div">
                <h4>Add a Burger</h4>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="newBurger" rows="3"></textarea>
                    </div> 
                </form>
                <button class="btn btn-success" type="submit" id="submit">Submit</button>
            </div>
        </div>
    </div>



</div>